# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [7]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import matplotlib 
import matplotlib.pyplot as plt
import numpy as np


baltimore_data = pd.read_csv("dataset/baltimore_9-24-2016_9-30-2017.csv")
boston_data = pd.read_csv("dataset/boston_9-24-2016_9-30-2017.csv")
new_york_data = pd.read_csv("dataset/new-york_9-24-2016_9-30-2017.csv")
philadelphia_data = pd.read_csv("dataset/philadelphia_9-24-2016_9-30-2017.csv")

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [9]:
# Clean your data here!
for col in baltimore_data.columns:
    pct_missing = np.mean(baltimore_data[col].isnull())
    print("Baltimore: "'{} - {}%'.format(col, round(pct_missing*100)))
for col in boston_data.columns:
    pct_missing = np.mean(boston_data[col].isnull())
    print("Boston: "'{} - {}%'.format(col, round(pct_missing*100)))
for col in new_york_data.columns:
    pct_missing = np.mean(new_york_data[col].isnull())
    print("New York: "'{} - {}%'.format(col, round(pct_missing*100)))
for col in philadelphia_data.columns:
    pct_missing = np.mean(philadelphia_data[col].isnull())
    print("Philadelphia: "'{} - {}%'.format(col, round(pct_missing*100)))
    
data = baltimore_data.drop(["Type", "Grade", "Origin District", "Environment", "Quality", "Condition", "Appearance", "Storage", "Crop", "Trans Mode"], axis=1)
data = boston_data.drop(["Type", "Grade", "Origin District", "Environment", "Quality", "Condition", "Appearance", "Storage", "Crop", "Trans Mode"], axis=1)
data = new_york_data.drop(["Type", "Grade", "Origin District", "Environment", "Quality", "Condition", "Appearance", "Storage", "Crop", "Trans Mode"], axis=1)
data = philadelphia_data.drop(["Type", "Grade", "Origin District", "Environment", "Quality", "Condition", "Appearance", "Storage", "Crop", "Trans Mode"], axis =1)

Baltimore: Commodity Name - 0%
Baltimore: City Name - 0%
Baltimore: Type - 100%
Baltimore: Package - 0%
Baltimore: Variety - 1%
Baltimore: Sub Variety - 84%
Baltimore: Grade - 100%
Baltimore: Date - 0%
Baltimore: Low Price - 0%
Baltimore: High Price - 0%
Baltimore: Mostly Low - 0%
Baltimore: Mostly High - 0%
Baltimore: Origin - 3%
Baltimore: Origin District - 100%
Baltimore: Item Size - 16%
Baltimore: Color - 80%
Baltimore: Environment - 100%
Baltimore: Unit of Sale - 84%
Baltimore: Quality - 100%
Baltimore: Condition - 100%
Baltimore: Appearance - 100%
Baltimore: Storage - 100%
Baltimore: Crop - 100%
Baltimore: Repack - 0%
Baltimore: Trans Mode - 100%
Boston: Commodity Name - 0%
Boston: City Name - 0%
Boston: Type - 100%
Boston: Package - 0%
Boston: Variety - 0%
Boston: Sub Variety - 92%
Boston: Grade - 100%
Boston: Date - 0%
Boston: Low Price - 0%
Boston: High Price - 0%
Boston: Mostly Low - 0%
Boston: Mostly High - 0%
Boston: Origin - 0%
Boston: Origin District - 81%
Boston: Item Size - 1%
Boston: Color - 14%
Boston: Environment - 100%
Boston: Unit of Sale - 87%
Boston: Quality - 100%
Boston: Condition - 100%
Boston: Appearance - 100%
Boston: Storage - 100%
Boston: Crop - 100%
Boston: Repack - 0%
Boston: Trans Mode - 100%
New York: Commodity Name - 0%
New York: City Name - 0%
New York: Type - 100%
New York: Package - 0%
New York: Variety - 0%
New York: Sub Variety - 84%
New York: Grade - 100%
New York: Date - 0%
New York: Low Price - 0%
New York: High Price - 0%
New York: Mostly Low - 0%
New York: Mostly High - 0%
New York: Origin - 0%
New York: Origin District - 87%
New York: Item Size - 7%
New York: Color - 81%
New York: Environment - 100%
New York: Unit of Sale - 78%
New York: Quality - 100%
New York: Condition - 100%
New York: Appearance - 100%
New York: Storage - 100%
New York: Crop - 100%
New York: Repack - 0%
New York: Trans Mode - 100%
Philadelphia: Commodity Name - 0%
Philadelphia: City Name - 0%
Philadelphia: Type - 100%
Philadelphia: Package - 0%
Philadelphia: Variety - 0%
Philadelphia: Sub Variety - 79%
Philadelphia: Grade - 100%
Philadelphia: Date - 0%
Philadelphia: Low Price - 0%
Philadelphia: High Price - 0%
Philadelphia: Mostly Low - 0%
Philadelphia: Mostly High - 0%
Philadelphia: Origin - 0%
Philadelphia: Origin District - 100%
Philadelphia: Item Size - 21%
Philadelphia: Color - 100%
Philadelphia: Environment - 100%
Philadelphia: Unit of Sale - 81%
Philadelphia: Quality - 100%
Philadelphia: Condition - 100%
Philadelphia: Appearance - 100%
Philadelphia: Storage - 100%
Philadelphia: Crop - 100%
Philadelphia: Repack - 0%
Philadelphia: Trans Mode - 100%

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [12]:
# Combine the four dataframes into one!
NEframes = [baltimore_data, boston_data, new_york_data, philadelphia_data]

result = pd.concat(NEframes)

NEjoined = pd.concat(NEframes)

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [13]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
NEjoinedHL = NEjoined.groupby(["Low Price", "High Price"])
NEjoinedHL.mean().head()

                      Type  Grade  Mostly Low  Mostly High  Environment  \
Low Price High Price
12        12.0         NaN    NaN        12.0    12.000000          NaN
          14.0         NaN    NaN        12.0    14.000000          NaN
15        15.0         NaN    NaN        15.0    15.000000          NaN
          16.0         NaN    NaN        15.0    15.090909          NaN
          17.0         NaN    NaN        15.0    17.000000          NaN

                      Quality  Condition  Appearance  Storage  Crop  \
Low Price High Price
12        12.0            NaN        NaN         NaN      NaN   NaN
          14.0            NaN        NaN         NaN      NaN   NaN
15        15.0            NaN        NaN         NaN      NaN   NaN
          16.0            NaN        NaN         NaN      NaN   NaN
          17.0            NaN        NaN         NaN      NaN   NaN

                      Trans Mode
Low Price High Price
12        12.0               NaN
          14.0               NaN
15        15.0               NaN
          16.0               NaN
          17.0               NaN

In [15]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
NEjoinedVariety = NEjoined.groupby(["Variety"])
NEjoinedVariety.mean().head()

,Type,Grade,Low Price,High Price,Mostly Low,Mostly High,Environment,Quality,Condition,Appearance,Storage,Crop,Trans Mode
Variety,,,,,,,,,,,,,
BIG MACK TYPE,NaN,NaN,129.454545,147.272727,137.363636,145.454545,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BLUE TYPE,NaN,NaN,260.000000,285.000000,285.000000,285.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CINDERELLA,NaN,NaN,206.051282,220.974359,215.025641,220.974359,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FAIRYTALE,NaN,NaN,198.783784,214.108108,208.243243,213.648649,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HOWDEN TYPE,NaN,NaN,152.834821,177.098214,158.303571,165.290179,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [59]:
# Try the bonus mission if you have time!